numpy
absl-py==0.6.1
arrow==0.12.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.4
autopep8==1.4.3
backcall==0.1.0
beautifulsoup4==4.7.1
certifi==2018.4.16
chardet==3.0.4
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
tensorflow==1.15.2
